<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CSS Grid is Awesome!</title>

    <link rel="stylesheet" href="../../css/reboot.css"/>
    <link rel="stylesheet" href="../../fonts/font.css"/>
    <link rel="stylesheet" href="../../css/prism.css"/>

    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/slide.css"/>

    <script defer src="../../js/fontawesome-all.min.js"></script>

    <style>
        .row {
            padding: 1em;
        }

        .col {
            float: left;
            width: 50%;
        }

        .col:nth-of-type(1) {
            height: 20em;
        }

        .col:nth-of-type(2) {
            height: 15em;
        }
    </style>
</head>

<body>
    <main class="slide-layout -columns -equal">
        <div>
            <pre><code class="language-html"><!--
                <div class="row">
                    <div class="col">
                        ...
                    </div>
                    <div class="col">
                        ...
                    </div>
                </div>
            --></code></pre>
            <pre><code class="language-css"><!--
                .row {
                    padding: 1em;
                }

                .col {
                    float: left;
                    width: 50%;
                }
            --></code></pre>
        </div>

        <div>
            <div class="mock-browser">
                <div class="mock-browser__chrome">
                    <div class="mock-browser__control mock-browser__back"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="mock-browser__control mock-browser__forward"><i class="fas fa-arrow-circle-right"></i></div>
                    <div class="mock-browser__control mock-browser__refresh"><i class="fas fa-undo" data-fa-transform="flip-h"></i></div>
                    <div class="mock-browser__control mock-browser__url">localhost:8000</div>
                </div>
                <div class="mock-browser__body">
                    <div class="row box -gray">
                        <div class="col">
                            <div class="box -blue"></div>
                        </div>
                        <div class="col">
                            <div class="box -orange"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../../js/prism.js"></script>
    <script src="../../js/slide.js"></script>
</body>
</html>
