<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CSS Grid is Awesome!</title>

    <link rel="stylesheet" href="../../css/reboot.css"/>
    <link rel="stylesheet" href="../../fonts/font.css"/>
    <link rel="stylesheet" href="../../css/prism.css"/>

    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/slide.css"/>

    <script defer src="../../js/fontawesome-all.min.js"></script>

    <style>
        .container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "blue  orange"
                "green orange";
            height: 30em;
            grid-gap: 1rem;
        }

        .blue {
            grid-area: blue;
        }

        .green {
            grid-area: green;
        }

        .orange {
            grid-area: orange;
        }
    </style>
</head>

<body>
    <main class="slide-layout -columns -equal">
        <div>
            <pre><code class="language-html"><!--
                <div class="container">
                    <div class="blue"> ... </div></div>
                    <div class="green"> ... </div></div>
                    <div class="orange"> ... </div></div>
                </div>
            --></code></pre>
            <pre><code class="language-css"><!--
                .container {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas:
                        "blue  orange"
                        "green orange";
                    grid-gap: 1rem;
                }
                .blue   { grid-area: blue; }
                .green  { grid-area: green; }
                .orange { grid-area: orange; }
            --></code></pre>
        </div>

        <div class="mock-browser">
            <div class="mock-browser__chrome">
                <div class="mock-browser__control mock-browser__back"><i class="fas fa-arrow-circle-left"></i></div>
                <div class="mock-browser__control mock-browser__forward"><i class="fas fa-arrow-circle-right"></i></div>
                <div class="mock-browser__control mock-browser__refresh"><i class="fas fa-undo" data-fa-transform="flip-h"></i></div>
                <div class="mock-browser__control mock-browser__url">localhost:8000</div>
            </div>
            <div class="mock-browser__body">
                <div class="container">
                    <div class="blue"><div class="box -blue"></div></div>
                    <div class="green"><div class="box -green"></div></div>
                    <div class="orange"><div class="box -orange"></div></div>
                </div>
            </div>
        </div>
    </main>

    <script src="../../js/prism.js"></script>
    <script src="../../js/slide.js"></script>
</body>
</html>
