<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../css/reboot.css"/>
    <link rel="stylesheet" href="../../fonts/font.css"/>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/notes.css"/>
</head>

<body>

<main id="main" class="notes">
    <p>
        And here's the same layout with CSS Grid! Take a look at the HTML.
        Isn't that some nice, clean markup? We don't have any notion of layout clogging up our HTML, just content.
        All control of the layout is in the CSS.
    </p>
    <p>
        This covers most of the features of CSS Grid. There are a few new concepts to learn, but overall it's not bad.
        What's more, it's really easy to look at the CSS and get a good idea of what's going on.
    </p>
    <p>
        We're going to dive in soon, but just to give you an idea, this is what we're doing.
        First we set <b>display: grid</b> on the container.
        Then all child elements become items in the grid, just like Flexbox.
    </p>
    <p>
        From there we define our rows and columns, then assign the items to their spots in the grid.
        Finally we set a gap between all of the elements. It's basically Tables all over again, but much, much better!
    </p>
</main>

<script src="../../js/notes.js"></script>
</body>
</html>
