<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CSS Grid is Awesome!</title>

    <link rel="stylesheet" href="../css/reboot.css"/>
    <link rel="stylesheet" href="../fonts/font.css"/>
    <link rel="stylesheet" href="../css/prism.css"/>

    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/slide.css"/>

    <script defer src="../js/fontawesome-all.min.js"></script>
</head>

<body>
    <main class="slide-layout -columns -center">
        <div>
        </div>

        <div>
        </div>
    </main>

    <script src="../js/slide.js"></script>
</body>
</html>
